.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.clickable {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #4f5861;
}

img {
    width:100%;
}

body {
    background-color: #0d1219;
}